.idea
.vs
.vscode
.cache
.direnv

**/bin/
**/build/
**/cmake-build-debug/
**/cmake-build-release/
**/cmake-build-relWithDebInfo/
**/cmake-build-minSizeRel/
**/out/
**/out-release/
**/out-release-exe/
**/out-debug/
**/test/

.DS_Store

imgui.ini
compile_commands.json
